body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input {
  width: 100%;
  border: 1px solid rgba(83, 83, 83, 0.274);
  border-radius: 7px;
  padding: 5px 10px;
}

.title {
  background: rgb(17,102,210);
background: linear-gradient(90deg, rgb(17,102,210) 0%, rgba(17,102,210,1) 0%, rgba(0,212,255,1) 100%);
}